@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3b82f6;
  --primary-dark: #2563eb;
  --secondary: #10b981;
  --accent: #8b5cf6;
  --background: #f3f4f6;
  --foreground: #1f2937;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}

.animate-slideIn {
  animation: slideIn 0.5s ease-out;
}

.whatsapp-container {
  position: fixed;
  bottom: 80px;
  right: 15px;
  z-index: 999;
  background-color: transparent;
}

.whatsapp-icon {
  width: 50px;
  height: 50px;
#experience .experience-desc {
  position: relative; /* Ensures the ::before element positions relative to .experience-desc */
}

#experience .experience-desc::before,
#volunteering .volunteer-desc::before,
#education .education-desc::before {
  content: "";
  width: 2px;
  height: 100%;
  display: block;
  background-color: #eed9ce;
  position: absolute;
  left: -23px;
}